<div class="grid-container">
  <h1 class="mat-h1">
    <a (click)="LaunchGitHubPage()" class="Clickable" target="_blank">{{Owner}}/{{RepoTitle}}</a>
  </h1>
  <div class="text-center">
    <app-loading-wheel *ngIf="Loading"></app-loading-wheel>
  </div>
  
  <div>
    <p class="text-center">{{_RepoData?.description}}</p>
    <mat-grid-list *ngIf="!Loading" cols="2" rowHeight="350px">
      <mat-grid-tile [colspan]="2" [rowspan]="1">
        <app-read-me [Repo]="_RepoData"></app-read-me>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>