/* You can add global styles to this file, and also import other style files */

body 
{
    margin: 0;
    background-color: #fafafa;
}

.Clickable
{
    cursor: pointer;
}

.inline-flex
{
    display:inline-flex;
}

.text-center
{
    text-align: center;
}